@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using ArtworkInbox.Data
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext ApplicationDbContext
@{ 
    var user = await UserManager.GetUserAsync(User);

    bool has_deviantart = user != null && await ApplicationDbContext.UserDeviantArtTokens
        .Where(x => x.UserId == user.Id)
        .AnyAsync();
    bool has_twitter = user != null && await ApplicationDbContext.UserTwitterTokens
        .Where(x => x.UserId == user.Id)
        .AnyAsync();
    bool has_tumblr = user != null && await ApplicationDbContext.UserTumblrTokens
        .Where(x => x.UserId == user.Id)
        .AnyAsync();
    bool has_weasyl = user != null && !string.IsNullOrEmpty(user.WeasylApiKey);
    bool has_inkbunny = user != null && !string.IsNullOrEmpty(user.InkbunnySessionId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Artwork Inbox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/svg+xml" href="~/images/favicon.svg">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Artwork Inbox</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (has_deviantart) {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown-da" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    DeviantArt
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-da">
                                    <a class="dropdown-item" asp-area="" asp-controller="DeviantArt" asp-action="Feed">Feed</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="DeviantArt" asp-action="FeedSettings">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.deviantart.com/notifications/feedback">Notifications</a>
                                </div>
                            </li>
                        }
                        @if (has_twitter) {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown-tw" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Twitter
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-tw">
                                    <a class="dropdown-item" asp-area="" asp-controller="Twitter" asp-action="Feed">Feed</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.twitter.com/notifications">Notifications</a>
                                </div>
                            </li>
                        }
                        @if (has_tumblr) {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown-tu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tumblr
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-tu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Tumblr" asp-action="Feed">Feed</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.tumblr.com/inbox">Notifications</a>
                                </div>
                            </li>
                        }
                        @if (has_weasyl) {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown-w" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Weasyl
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-w">
                                    <a class="dropdown-item" asp-area="" asp-controller="Weasyl" asp-action="Feed">Feed</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.weasyl.com/messages/notifications#notifications">Notifications</a>
                                </div>
                            </li>
                        }
                        @if (has_inkbunny) {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown-ib" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Inkbunny
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-ib">
                                    <a class="dropdown-item" asp-area="" asp-controller="Inkbunny" asp-action="Feed">Feed</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://inkbunny.net/portal.php">Notifications</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 &middot; <a target="_blank" href="https://github.com/IsaacSchemm/ArtworkInbox">View on GitHub</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <noscript>
        <style type="text/css">
            .navbar .container,
            .navbar-nav,
            .navbar-collapse {
                flex-direction: column !important;
            }

            .dropdown-menu {
                display: block;
                position: static !important;
            }

            .collapse:not(.show) {
                display: block;
            }
        </style>
    </noscript>
</body>
</html>
