<h2 class="text-danger">Unable to deserialize JSON.</h2>

<style type="text/css">
    twitter-widget {
        margin: auto;
    }
</style>

<blockquote class="twitter-tweet m-4"><p lang="en" dir="ltr">When a JSON API renders an empty object as an empty array and breaks your deserialization code <a href="https://t.co/YlGxJ4vDFm">pic.twitter.com/YlGxJ4vDFm</a></p>&mdash; class m plant (@@lizard_socks) <a href="https://twitter.com/lizard_socks/status/1085686578754871299?ref_src=twsrc%5Etfw">January 16, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

<hr />

<p>
    The @(ViewBag.SiteName ?? "remote site's") API returned data in a format Artwork Inbox was not programmed to read. There may have been changes in the website's API since this app was written.
</p>

<p>
    If this issue persists, please file an issue on the GitHub repository.
</p>
