<p>
    Your @ViewBag.SiteName account is not currently connected to Artwork Inbox.
    <br />
    Please visit the 
    <a asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">
        external logins page
    </a>
    to manage your accounts.
</p>