@model DANotify.Models.DeviantArtFeedSettingsViewModel
@{
    ViewData["Title"] = "Feed Settings";
}

<p>
    Select which kinds of items you would like to see in your DeviantArt feed.
    <br />
    <span class="small text-muted">This information will be sent to the DeviantArt API servers.</span>
</p>

<form method="post" asp-controller="DeviantArt" asp-action="FeedSettings">
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="Statuses">
        <label class="form-check-label" asp-for="Statuses"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="Deviations">
        <label class="form-check-label" asp-for="Deviations"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="Journals">
        <label class="form-check-label" asp-for="Journals"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="GroupDeviations">
        <label class="form-check-label" asp-for="GroupDeviations"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="Collections">
        <label class="form-check-label" asp-for="Collections"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="Misc">
        <label class="form-check-label" asp-for="Misc"></label>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>