@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/mascot.png"
     align="left"
     alt="A cute gargoyle carrying a stack of small boxes"
     class="d-none d-md-inline mr-4" />

<p>
    <strong>Artwork Inbox</strong> is a web application that connects to your
    DeviantArt, Twitter, and Tumblr feeds, allowing you to view your friends'
    artwork and status updates with a simple, lo-fi interface that lets you
    make sure you don't miss anything.
</p>

<p>
    To sign up:
</p>

<ol>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Create an Artwork Inbox account</a>
        by logging in with your DeviantArt, Twitter, or Tumblr credentials.
    </li>
    <li>
        Attach additional accounts from the
        <a asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">external logins page.</a>
        (Note that at this time, you can only have one account from each site 
        attached to a single Artwork Inbox account.)
    </li>
</ol>

<p>
    If you ever want to delete your Artwork Inbox account, visit the
    <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">personal data page.</a>
</p>

<div style="clear: both"></div>

<hr>

<p>
    Database server status: @ViewBag.DatabaseServerStatus

    @if (ViewBag.CanStartDatabaseServer) {
        <form asp-controller="Home" asp-action="StartDatabase" method="post" style="display: inline">
            <button class="btn btn-primary" type="submit">Start</button>
        </form>
    }
</p>