<p>
    Your Weasyl account is not currently connected to Artwork Inbox.
    <br />
    Please edit your 
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Artwork Inbox profile</a>
    to add a
    <a target="_blank" href="https://www.weasyl.com/control/apikeys">Weasyl API key.</a>
</p>