<p>
    Your Inkbunny account is not currently connected to Artwork Inbox.
    <br />
    Please visit the
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Artwork Inbox profile page</a>
    and connect it to your Inkbunny account.
</p>